<!-- Tilin luonti -->
<h3>Luo uusi käyttäjätili</h3>
<p>Kaikki kentät ovat pakolisia. Käyttäjätunnus voi sisältää pieniä kirjaimia, numeroita sekä merkin '_'. Ensimmäisen merkin on oltava kirjain.</p>

<form class="sisennys" id="createaccount" method="POST" action="/api/user">
    <input class="form-padding" id="accountuser" type="text" name="username" placeholder="Käyttäjätunnus"><br>
    <input class="form-padding" id="accountname" type="text" name="name" placeholder="Nimi"><br>
    <input class="form-padding" id="accountpassword" type="password" name="password" placeholder="Salasana"><br>
    <input type="submit" value="Luo tili">
</form><br>

<p id="account-success"></p>

<hr>
<footer>
    <p>&copy; nununu 2015</p>
</footer>

<script src="/javascript/accountPage.js"></script>

