<!-- Asetussivu -->
<% if (user) { %>
	<h1>Muokkaa tietojasi</h1>
	<p>Voit päivittää nimesi ja/tai salasanasi. Jos haluat päivittää vain toisen näistä, anna toiseksi tiedoksi nykyinen nimesi/salasanasi.</p>

	<table class="kokoleveys"><tr><td valign="top" class="sisennys">
	<input class="form-padding" id="newname" type="text" placeholder="Nimi"><br>
	<input class="form-padding" id="newpassword" type="password" placeholder="Salasana"><br>
	<button id="updateuserinfo" onclick="updateUser()">Päivitä käyttäjän tiedot</button><br><br>

	</td><td valign="top" class="leveysnelkyt">
	<div id="updateuser-success"></div>
	</td></tr></table>
<% } %>

<hr>
<footer>
    <p>&copy; nununu 2015</p>
</footer>

<script src="javascript/settingsPage.js" />
