body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #eee !important;
}

.sisalto {
	margin: 15px auto !important;
	max-width: 800px !important;
	background-color: #fff !important;
	padding: 20px !important;
	border-radius: 5px;
	box-shadow: 0 0 4px #ddd;
}

.btn-success {
	border-color: #337ab7 !important;
}

.btn-lg {
	border-color: #DB7093 !important;
	float: right !important;
	margin-top: -15px;
}

.btn-sgu {
	height: 34px;
	margin-left: -10px;
}

.btn-lg:hover {
	background-color: #C56584 !important;
}

h1 {
  font-family: 'Bree Serif', serif;
  color: #DB7093 !important;
}




