body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #eee !important;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #DB7093 !important;
}

.form-padding {
	margin: 2px 0;
}

.sisennys {
	padding-left: 80px;
}

.navbar-teksti {
	padding: 15px 40px;
	color: #ccc;
}

.kokoleveys {
	width: 100%;
}

.leveysnelkyt {
	width: 40%;
}

.sisalto {
	margin: 15px auto !important;
	max-width: 800px !important;
	background-color: #fff !important;
	padding: 20px !important;
	border-radius: 5px;
	box-shadow: 0 0 4px #ddd;
}

.navbar-right {
	margin-right: 0 !important;
}

.btn-success {
	border-color: #337ab7 !important;
}

.btn-lg {
	border-color: #DB7093 !important;
	float: right !important;
	margin-top: -15px;
}

.btn-sgu {
	height: 34px;
	margin-left: -10px;
}

.btn-lg:hover {
	background-color: #C56584 !important;
}





